/* for i in {0..25}; do printf "--hc-${i}: hsl(0, 5%%, %0.1f%%);\n" $((100-1.4*$i)); done */
:root {
    --hc-0: hsl(0, 5%, 100.0%);
    --hc-1: hsl(0, 5%, 98.6%);
    --hc-2: hsl(0, 5%, 97.2%);
    --hc-3: hsl(0, 5%, 95.8%);
    --hc-4: hsl(0, 5%, 94.4%);
    --hc-5: hsl(0, 5%, 93.0%);
    --hc-6: hsl(0, 5%, 91.6%);
    --hc-7: hsl(0, 5%, 90.2%);
    --hc-8: hsl(0, 5%, 88.8%);
    --hc-9: hsl(0, 5%, 87.4%);
    --hc-10: hsl(0, 5%, 86.0%);
    --hc-11: hsl(0, 5%, 84.6%);
    --hc-12: hsl(0, 5%, 83.2%);
    --hc-13: hsl(0, 5%, 81.8%);
    --hc-14: hsl(0, 5%, 80.4%);
    --hc-15: hsl(0, 5%, 79.0%);
    --hc-16: hsl(0, 5%, 77.6%);
    --hc-17: hsl(0, 5%, 76.2%);
    --hc-18: hsl(0, 5%, 74.8%);
    --hc-19: hsl(0, 5%, 73.4%);
    --hc-20: hsl(0, 5%, 72.0%);
    --hc-21: hsl(0, 5%, 70.6%);
    --hc-22: hsl(0, 5%, 69.2%);
    --hc-23: hsl(0, 5%, 67.8%);
    --hc-24: hsl(0, 5%, 66.4%);
    --hc-25: hsl(0, 5%, 65.0%);
    --history-border-color: #ddd;
    --history-cell-color: var(--black);
    --history-run-color: #999;
    --light-header-color: #666;
}

/* for i in {0..25}; do printf "--hc-${i}: hsl(0, 2%%, %0.1f%%);\n" $((20-.6*$i)); done */
[data-theme='dark'] {
    --hc-0: hsl(0, 2%, 20.0%);
    --hc-1: hsl(0, 2%, 19.4%);
    --hc-2: hsl(0, 2%, 18.8%);
    --hc-3: hsl(0, 2%, 18.2%);
    --hc-4: hsl(0, 2%, 17.6%);
    --hc-5: hsl(0, 2%, 17.0%);
    --hc-6: hsl(0, 2%, 16.4%);
    --hc-7: hsl(0, 2%, 15.8%);
    --hc-8: hsl(0, 2%, 15.2%);
    --hc-9: hsl(0, 2%, 14.6%);
    --hc-10: hsl(0, 2%, 14.0%);
    --hc-11: hsl(0, 2%, 13.4%);
    --hc-12: hsl(0, 2%, 12.8%);
    --hc-13: hsl(0, 2%, 12.2%);
    --hc-14: hsl(0, 2%, 11.6%);
    --hc-15: hsl(0, 2%, 11.0%);
    --hc-16: hsl(0, 2%, 10.4%);
    --hc-17: hsl(0, 2%, 9.8%);
    --hc-18: hsl(0, 2%, 9.2%);
    --hc-19: hsl(0, 2%, 8.6%);
    --hc-20: hsl(0, 2%, 8.0%);
    --hc-21: hsl(0, 2%, 7.4%);
    --hc-22: hsl(0, 2%, 6.8%);
    --hc-23: hsl(0, 2%, 6.2%);
    --hc-24: hsl(0, 2%, 5.6%);
    --hc-25: hsl(0, 2%, 5.0%);

    --history-border-color: #444;
    --history-cell-color: #666;
    --history-run-color: #aaa;
    --light-header-color: #bbb;
}

@media (max-width: 768px) {
    .summary {
        margin-top: 1rem !important;
    }
}

@media (max-width: 992px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .summary td:first-of-type {
        white-space: pre-wrap !important;
    }

    .summary > .column {
        width: 100% !important;
    }
}

@media (max-width: 1200px) {
    .summary > .column {
        width: 50% !important;
    }
}

@media (min-width: 1200px) {
    .summary > .column {
        /*width: 25% !important;*/
        width: 50% !important;
        /*width: 33.33333333% !important;*/
    }
}

.navtitle {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.sidebar .item {
    text-align: left !important;
}

.sidebar .logo.header {
    font-size: 1.3rem !important;
    color: var(--black);
    line-height: 2.5rem !important;
}
.sidebar.ui.menu {
    border-top: 0 !important;;
}

.sidebar .ui.vertical.menu {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.history {
    border-collapse: collapse !important;
    border: 0 !important;
    margin-bottom: 2em !important;
}

.history .borderless {
    border: 0 !important
}

.history td {
    border: 1px solid var(--history-border-color);
}

/* oddly the first row's first col has no border top... */
.history tr:first-of-type td:first-of-type {
    border-top: 1px var(--history-border-color) solid !important;
}

.history td:not(:first-of-type) {
    text-align: center !important;
}

.history th:not(:first-of-type) {
    border: 1px solid var(--history-border-color)
}

.history th {
    font-weight: bold !important;
    text-align: center !important;
}

.history * {
    margin: 0 !important;
}

.history td:first-of-type {
    white-space: nowrap;
    text-align: right !important;
    border-left-style: solid !important;
}

.history td div {
    line-height: 2em;
    width: 2em;
    height: 2em;
    color: var(--history-cell-color);
}

.history .runs {
    font-weight: 500;
    color: var(--history-run-color) !important;
}

.menu .item {
    font-weight: 700 !important;
}

.ui.secondary.pointing.menu .item {
    border-bottom-style: none !important;
}
.grey {
    color: #666;
}

.item .bold {
    font-weight: 500;
}

.item .small, .item.small {
    font-size: small;
}

.hidden {
    visibility: hidden
}

button {
    white-space: nowrap;
}


.summary .card {
    height: 100%;
}

.summary .card .content:first-of-type {
    flex-grow: initial;
}

.summary-table .highlight {
    font-weight: 800;
}

/*.summary .header {*/
/*    font-weight: 600 !important;*/
/*    font-size: 1.1em !important;*/
/*}*/

.summary .card .date, .summary-table .header {
    color: var(--light-header-color) !important;
    font-weight: 500 !important;
    /*font-size: 1.15em !important;*/
    padding-top: 5px !important;
}

.summary .card .content:first-of-type {
    background-color: var(--gray-background);
}

.summary .feed .label {
    width: 50px !important;
    height: 50px !important;
}

.summary .row {
    /*padding-top: .5rem !important;*/
}

.summary .row > .column {
    margin-top: 1rem !important;
}

.summary-table th:not(.active) {
    font-weight: 500 !important;
}

.dropdown.active {
    border-color: var(--inverted-background) !important;
}

tr.selected {
    background-color: #fbfbfb;
}

.hc-0 {
    background-color: var(--hc-0);
}

.hc-1 {
    background-color: var(--hc-1);
}

.hc-2 {
    background-color: var(--hc-2);
}

.hc-3 {
    background-color: var(--hc-3);
}

.hc-4 {
    background-color: var(--hc-4);
}

.hc-5 {
    background-color: var(--hc-5);
}

.hc-6 {
    background-color: var(--hc-6);
}

.hc-7 {
    background-color: var(--hc-7);
}

.hc-8 {
    background-color: var(--hc-8);
}

.hc-9 {
    background-color: var(--hc-9);
}

.hc-10 {
    background-color: var(--hc-10);
}

.hc-11 {
    background-color: var(--hc-11);
}

.hc-12 {
    background-color: var(--hc-12);
}

.hc-13 {
    background-color: var(--hc-13);
}

.hc-14 {
    background-color: var(--hc-14);
}

.hc-15 {
    background-color: var(--hc-15);
}

.hc-16 {
    background-color: var(--hc-16);
}

.hc-17 {
    background-color: var(--hc-17);
}

.hc-18 {
    background-color: var(--hc-18);
}

.hc-19 {
    background-color: var(--hc-19);
}

.hc-20 {
    background-color: var(--hc-20);
}

.hc-21 {
    background-color: var(--hc-21);
}

.hc-22 {
    background-color: var(--hc-22);
}

.hc-23 {
    background-color: var(--hc-23);
}

.hc-24 {
    background-color: var(--hc-24);
}

.hc-25 {
    background-color: var(--hc-25);
}

.buttons .active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.sortable-column {
    white-space: nowrap;
}

.clickable {
    cursor: pointer !important;
}

.icon .grey {
    color: var(--gray-background)
}

.summary-table th {
    text-transform: capitalize !important;
}

input:focus {
    border-color: var(--primary-color) !important;
}