body {
    background-color: #FFFFFF;
}

@media (max-width: 992px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.history {
    border-collapse: collapse !important;
    border: 0 !important;
    margin-bottom: 2em !important;
}

.history td.no-border {
    border: 0 !important
}

.history td {
    border: 1px solid #ddd;
}

.history td:not(:first-of-type) {
    text-align: center !important;
}

.history th:not(:first-of-type) {
    border: 1px solid #ddd
}

.history th {
    font-weight: bold !important;
    text-align: center !important;
}

.history * {
    margin: 0 !important;
}

.history td:first-of-type {
    white-space: nowrap;
    text-align: right !important;
}

.history .cell {
    line-height: 2em;
    width: 2em;
    height: 2em;
}

.menu .item {
    font-weight: 700 !important;
}

.grey {
    color: #666;
}

.item .bold {
    font-weight: 500;
}

.item .small, .item.small {
    font-size: small;
}

.artifact-rotations .ui.grid > .column:not(.row) {
    padding-top: .5rem;
}

.hidden {
    visibility: hidden
}

button {
    white-space: nowrap;
}

img.active {
    border: 2px solid #21ba45
}

.accordion .title.active {
    font-weight: 700;
}

.summary .label {
    border: 0 !important;
    /*margin-bottom: .5rem !important;*/
}

.summary .progress {
    margin-top: .5rem !important;
    margin-bottom: .6rem !important;
}

.summary td:first-of-type {
    text-align: right !important;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 1em !important;
}

.summary td:first-of-type p {
    margin-top: .5rem
}

.ui.progress .bar {
    min-width: 0 !important;
}

.summary td:not(:first-of-type) {
    text-align: right !important;
    width: 100rem;
    padding-right: 1em !important;
}

.dark .bar {
    background-color: #777 !important;
}

.dark.label {
    color: #777 !important;
}

.normal .bar {
    background-color: #aaa !important;
}

.normal.label {
    color: #aaa !important;
}

.light .bar {
    background-color: #ccc !important;
}

.light.label {
    color: #ccc !important;
}

.dropdown.active {
    border-color: #1b1c1d !important;
}